<div class="box panel panel-default">
  <%= link_to trip_post_path(@trip,post) do %>
    <% if post.picture? %>
      <%= image_tag post.picture.url %>
    <% else %>
      <%= image_tag '/NoImage.jpg' %>
    <% end %>
    <div class="panel-body"></div>
    <h2>
      <%= post.title %>
    </h2>
  <% end %>
  <div class="period">
    <i class="glyphicon glyphicon-time"></i>
    <%= show_period(post) %>
  </div>
  <p class="user">
    <%= render 'shared/star', post: post %>
    Submitted by <%= post.creator.username %>
  </p>
</div>

