<p class="pull-right">
  <% if current_user == @post.creator %>
    <%= link_to edit_trip_post_path(@trip, @post) do %>
      <i class="glyphicon glyphicon-pencil"></i>
      Edit This Post
    <% end %>
  <% end %>
</p>
<%= render 'shared/content_title', title: @post.title %>
<%= render 'shared/tags', tags: @post.tags, trip: @trip %>
<hr/>

<div class="row">
  <div class="col-md-8 ">
    <%= image_tag(@post.picture, class:"img-rounded img-responsive" )%>

    <p class="description">
      <%= simple_format(@post.description) %>
    </p>
    <hr/>
    <p>
      <strong>
        Posted by <%= @post.creator.username %>
      </strong>
    </p>

    <hr/>

    <%= render @post.reload.comments , show_post: false %>
    <% if logged_in? %>
      <%= form_for [@trip, @post, @comment] do |f| %>
        <%= render 'shared/error_message', object: @comment %>
        <div class="form-group">
          <%= f.text_area :body , rows: 3, class: 'form-control span4', placeholder: 'Add a comment...' %>
        </div>
        <%= f.submit 'Create comment' , class:"btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

</div>